@media screen and (min-width: 1200px){
    .chapter1 {
        margin-top: 30px !important;
    }
    .chapter2 {
        margin-top: 30px !important;
    }
    .imageAndSmallPS {
        width: 35%;
    }
    .imageAndSmallPS p {
        color: var(--mainDarkBlueColor) !important;
        width: 90% !important;
        text-align: center !important;
        font-size: 20px !important;
        margin: 10px auto 0 auto !important;
    }
    .textImageContainer .imageAndSmallPS img {
        width: 100%;
    }
    .chapter3 {
        border-radius: 10px;
        margin-top: 30px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainDarkBlueColor);
    }
    .header3 {
        font-size: 30px;
        color: var(--mainLightColor);
        width: 95%;
        text-align: center;
    }
    .listContainer {
        margin: 30px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .inListContainerBlock {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .inListContainerBlock a {
        margin: 20px 0 0 0;
        width: 49%;
        text-decoration: none;
    }
    .anomalyContainer {
        display: flex;
        justify-content: space-between;
    }
    .anomalyContainer h3 {
        width: calc(100% - 120px);
        transition: color 0.6s;
        margin: auto 5px;
        font-size: 34px;
        text-align: center;
        color: var(--mainDarkColor);
    }
    .inListContainerBlock a:hover  .anomalyContainer h3 {
        color: var(--mainDarkBlueColor);
    }
}
@media screen and (max-width: 1199px) and (min-width: 691px) {
    .chapter1 {
        margin-top: 30px !important;
    }
    .chapter2 {
        margin-top: 30px !important;
    }
    .imageAndSmallPS {
        width: 35%;
    }
    .imageAndSmallPS p {
        color: var(--mainDarkBlueColor) !important;
        width: 90% !important;
        text-align: center !important;
        font-size: 17px !important;
        margin: 10px auto 0 auto !important;
    }
    .textImageContainer .imageAndSmallPS img {
        width: 100%;
    }
    .chapter3 {
        border-radius: 10px;
        margin-top: 30px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainDarkBlueColor);
    }
    .header3 {
        font-size: 25px;
        color: var(--mainLightColor);
        width: 95%;
        text-align: center;
    }
    .listContainer {
        margin: 30px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    .inListContainerBlock {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .inListContainerBlock a {
        margin: 20px 0 0 0;
        width: 49%;
        text-decoration: none;
    }
    .anomalyContainer {
        display: flex;
        justify-content: space-between;
    }
    .anomalyContainer h3 {
        transition: color 0.6s;
        width: calc(100% - 110px);
        margin: auto 5px;
        font-size: 25px;
        text-align: center;
        color: var(--mainDarkColor);
    }
    .anomalyContainer img {
        width: 100px;
        object-fit: contain;
    }
    .inListContainerBlock a:hover  .anomalyContainer h3 {
        color: var(--mainDarkBlueColor);
    }
}
@media screen and (max-width: 690px) {
    .chapter2 {
        width: calc(100% + 30px);
        margin-top: 20px !important;
        left: -15px;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--secondLightColor);
    }
    .header2 {
        font-size: 28px;
        text-align: center;
        color: var(--mainDarkColor);
        margin: 4px auto;
    }
    .textImageContainer p {
        margin: 15px 0;
        font-size: 20px;
        text-align: justify;
    }
    .imageAndSmallPS p {
        color: var(--mainDarkBlueColor) !important;
        width: 100% !important;
        text-align: center !important;
        font-size: 15px !important;
        margin: 10px auto 10px auto !important;
    }
    .textImageContainer .imageAndSmallPS img, .textImageContainer img {
        width: 100%;
        object-fit: contain;
    }
    .chapter3 {
        display: none;
    }
    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .inListContainerBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .inListContainerBlock a {
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        text-decoration: none;
        margin-top: 25px;
    }
    .inListContainerBlock a:active .anomalyContainer{
        background-color: var(--secondLightColor);
    }

    .inListContainerBlock a:active .anomalyContainer h3 {
        text-decoration: underline;

    }

    .anomalyContainer {
        transition: background-color 0.2s;
        display: flex;
        justify-content: space-between;
        border-radius: 10px 0 0 10px;
    }
    .anomalyContainer img {
        width: 20%;
        object-fit: contain;
    }
    .anomalyContainer h3 {
        width: calc(80% - 10px);
        margin: auto 0 auto 0;
        text-align: center;
        color: var(--mainDarkColor);
    }
}