/*!Жирное начертание испльзовать через отдельный шрифт "GoogleSansBold"*/
@font-face {
    font-family: GoogleSans;
    src: url(../fonts/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: GoogleSansBold;
    src: url(../fonts/GoogleSans-Bold.ttf);
}

:root {
    --mainLightColor: #F3F6FB;
    --backgroundColor: #3E3E3E;
    --mainDarkColor: #404B55;
    --mainDarkBlueColor: #97B1C2;
    --secondLightColor: #CCD9E2;
}
*{
    border: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: GoogleSansBold, serif;
}
p {
    font-family: GoogleSans, serif;
}
@media screen and (min-width: 1125px){
    body {
        margin: 0 auto;
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: nowrap;
        align-items: center;
        order: 2;
    }
    nav {
        height: 149px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #logoContainer {
        width: 30%;
        background-color: var(--mainLightColor);

    }
    #navContainer{
        width: 70%;
        background-color: var(--mainDarkBlueColor);
    }
}
body{
    background-color: var(--backgroundColor);
}
