@font-face {
    font-family: GoogleSans;
    src: url(../GoogleSans-Regular.ttf);
}

@font-face {
    font-family: GoogleSansBold;
    src: url(../GoogleSans-Bold.ttf);
}

.navigation {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #97B1C2;
}

.nav--left {
    width: 510px;
    background-color: #F3F6FB;
    padding: 30px 65px;
    box-sizing: border-box;
    position: relative;
}

.nav--left-title {
    font-size: 98px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
}

.nav--left-subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
}

.nav--left-logo {
    position: absolute;
    width: 110px;
    top: 0;
    left: 0;
}

.nav--right {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1;
    font-family: GoogleSansBold, sans-serif;
}

.nav--right-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 23px;
}

.nav--right-button {
    background-color: #F3F6FB;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
}

.nav--right-button_active {
    color: #F3F6FB;
    background-color: #404B55;
}

.nav--right-title {
    font-size: 30px;
    height: 92px;
    color: #F3F6FB;
}

.nav--right-title_big {
    font-size: 50px;
}

.nav_mobile {
    display: none !important;
}

.test2 {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav--left {
        /* width: 100%; */
        padding: 10px 10px 10px 80px;
    }

    .nav--left-title {
        text-align: left;
        font-size: 36px;
    }

    .nav--right-title_big {
        font-size: 44px;
    }

    .nav--right {
        padding: 10px;
    }
}

@media screen and (max-width: 991px) {
    .nav_mobile {
        display: block !important;
    }

    .navigation {
        flex-direction: column;
    }

    .nav--left {
        width: 100%;
    }

    .nav--right-wrapper {
        display: none;
    }

    .nav--left-subtitle {
        text-align: left;
    }

    .nav--left-logo {
        top: 10px;
        width: 70px;
    }

    .nav--right-title {
        font-size: 17px;
        height: auto;
        display: none;
    }

    .nav--right-title_mobile-only {
        display: block;
        max-width: 80%;
    }

    .test2 {
        display: inline;
    }

    .test1 {
        display: none;
    }
}
